*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image:url('https://www.teahub.io/photos/full/1-19243_green-diamonds-green-wallpaper-diamond.jpg');
    /* background-image:url('https://1.bp.blogspot.com/-l7-idBlowRQ/UPAXm1Te3HI/AAAAAAAAECw/R2sXS5Fn7Ao/s1600/Abstract+flash++fine+hd+wallpaper.jpg'); */
    
    /* background-image:url('wallpaper3.jpg.jpg'); */
    width: 100px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;    
}
.Top{
    display: flex;
    flex-direction: row;
    right: 0;
    position: absolute;
    padding: 10px 0px 0px 0px;
    margin: 0px 40px 0px 0px;
}
.Top p{
    padding: 0px 10px;
    font-size: 15px;
    letter-spacing: 1px;

}
.Top p:hover{
    text-decoration: underline;
    cursor: pointer;

}
.Ninedot{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 25px;
    height: 25px;
    justify-content: space-around;
    padding: 5px;
    border-radius: 10px;

}
.Ninedot:hover{
    background-color: rgba(255,255,255,0.15);
    cursor: pointer;
}
.dot{
    background-color: white;
    width: 5px;
    height: 5px;
    color:#000;
    border-radius:5px;
    margin:1px 1px;

}
.Google{
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position:absolute;
    align-items: center;
    text-align: center;
    top: 150px;

}
.Google_title{
    font-size: 15vh;
    color:#fff;
    position:relative;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.SearchBox{
    width: 600px;
    height:45px;
    border: 1px solid #ccc;
    /* border-radius:  ; */
    background-position: center;
    position: relative;
    align-items: center;
    padding: 0px 15px;
    text-align: center;
    top: 30px;
    border-radius: 50px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.SearchBox img{
    width: 12px;
    height: 15px;
    align-items: center;
    text-align: center;
    justify-content: space-between;


}
.SearchBox input{
    width: 580px;
    height: 45px;
    outline: none;
    border: none;
    font-size: 20px;
    color:#000;
    padding: 0px 15px;
}
.SearchBox::placeholder{
    font-size: 16px;
    ;
}
@media only screen and (max-width: 600px){
    /* .Google_title{
        font-size: 10vh; */
    /* } */
    .SearchBox{
        width: 400px;
        height:40px;
        border-radius: 50px;
    }
    .SearchBox input{
        width: 400px;
        height: 40px;
    }
    
}
.recent{
    position: relative;
    width: 600px;
    height:auto;
    top: 35px;
    padding: 10px 15px 10px 15px;
    display: flex;
    flex-wrap: wrap;

}
.RecentList{
    position: relative;
    width: 138px;
    height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;

}
.RecentList:hover{
    background-color: rgba(255,255,255,0.15);
    border-radius: 10px;
    transition: 10px;
    transform: scale(1.05);
    transition-property: left, top;
    transition-timing-function: ease-in-out;
    user-select: none;
    cursor: pointer;
}
.RecentList a{
    text-decoration: none;
}
.RecentList img{
    width: 35px;
    height: 35px;
    /* border-radius: 10px; */
    /* margin: 0px 0px 10px 0px; */
    background-color: #fff;
    padding: 7px;
    border-radius: 100px;
}
.RecentList p{
    /* font-size: 15px; */
    color:#fff;
    /* margin: 5px 0px 0px 0px; */
    padding: 10px;
    letter-spacing: 1px;
    font-size: 15px;
    overflow: hidden;
}
@media only screen and (max-width:600px){
    .recent{
        width: 400px;
        height: auto;
        padding: 10px 15px 10px 15px;
    }
    .RecentList{
        width: 121px;
        height: 130px;
        display: flex;
        padding: 5px;
        overflow: hidden;

    }
}
.EditorTheme{
    padding: 10px;
    position: fixed;
    bottom:5px;
    right:5px;
    border-radius: 50px;
}
.EditorTheme img{
    width: 20px;
    height:20px;


}
.EditorTheme:hover{
    background-color: rgba(255,255,255,0.15);
    color:#fff;
    /* cursor: pointer; */
}
